{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "prettier"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "@typescript-eslint/no-unsafe-call": "warn"
  },
  "env": {
    "browser": false,
    "node": true
  }
}
