{
  "extends": [
    "prettier"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"],
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "@typescript-eslint/no-unsafe-call": "warn"
  },
  "env": {
    "browser": false,
    "node": true
  },
  "overrides": [
    {
      "files": ["src/*.ts", "src/**/*.ts"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-type-checked"
      ],
      "rules": {
        "no-console": 1,
        "prettier/prettier": 2,
        "@typescript-eslint/no-unsafe-call": 1
      }
    },
    {
      "files": ["test/*.ts", "test/**/*.ts"],
      "rules": {
        "no-console": "off",
        "@typescript-eslint/no-unsafe-call": "off"
      }
    }
  ]
}
