{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "prettier"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.eslint.json"],
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "@typescript-eslint/no-unsafe-call": "warn"
  },
  "env": {
    "browser": false,
    "node": true
  },
  "overrides": [
    {
      "files": ["test/*.ts", "test/**/*.ts"],
      "rules": {
        "*": "off",
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unused-vars": "off",
      }
    }
  ]
}
